$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Hiragino Sans GB', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Open Sans', 'Droid Sans', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Helvetica Neue', Tahoma, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$theme-font: $font-family-sans-serif;

$theme-color-text: #fff;
$theme-color-bg: #000;
$theme-color-border: #d7d7d7;


$font-size-small: 18px;
$font-size-large: 30px;

$page-safe-width: 1092px;
$page-safe-padding: 15px;
