@import '../../styles/common';

.work-cutter {
  box-sizing: border-box;
  padding-left: $page-safe-padding;
  padding-right: $page-safe-padding;

  .design-pics {
    box-sizing: border-box;
    padding: 55px 0;
    border-top: 2px solid $theme-color-border;
    border-bottom: 2px solid $theme-color-border;

    .pics {
      width: 100%;
    }
  }
}