@import '../../styles/common';

.work-room {
  box-sizing: border-box;
  padding-left: $page-safe-padding;
  padding-right: $page-safe-padding;

  .design-pics {
    position: relative;
    box-sizing: border-box;
    padding: 55px 0;
    border-top: 1px solid $theme-color-border;
    border-bottom: 1px solid $theme-color-border;

    .pics {
      width: 100%;
    }
    .video-play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // width: 10%;

      svg {
        width: 50px;
        height: 50px;
      }
    }
  }
}