@import '../../../styles/_common.scss';

#common-header {
  width: 100%;
  background-color: $theme-color-bg;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.6rem;
    color: $theme-color-text;

    $width-left: 80%;

    a {
      text-decoration: none;
      color: $theme-color-text;
    }

    li {
      position: relative;
      &.active {
        &:before {
          content: '';
          display: inline-block;
          width: 40%;
          height: 1px;
          background: $theme-color-text;
          position: absolute;
          left: -5%;
          top: 40%;
        }
      }
    }

    > div {
      max-width: 600px;
      width: $width-left;

      span {
        width: 100px;
      }

      .nav-ul {
        display: flex;
        justify-content: flex-start;
        list-style: none;
        padding: 0;

        li {
          width: 15%;
        }
      }

    }

    .lang-ul {
      display: flex;
      justify-content: space-between;
      align-content: center;
      list-style: none;
      width: calc(100% - 80%);
      max-width: 200px;

      li {
        width: 50%;
      }
    }
  }
}