@import '../../../styles/_common.scss';

#common-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 6;
  background-color: transparent;

  &.color-black a {
    color: #000 !important;
  }

  &.color-white a {
    color: #fff !important;
  }

  .header-box {
    margin: 0 auto;
    max-width: $page-safe-width;

    .header-visible {
      height: 8.6rem;
      line-height: 8.6rem;
      text-align: center;

      a {
        box-sizing: border-box;
        padding: 0 30px;
        text-decoration: none;
        font-size: 28px;
        color: #fff;
        font-weight: bold;
        letter-spacing: 2px;
      }
    }

    .header-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 8.6rem;
      color: $theme-color-text;
      background-color: transparent;

      $width-left: 80%;


      a {
        text-decoration: none;
        color: $theme-color-text;
      }

      li {
        position: relative;
        text-align: center;
        font-size: $font-size-small - 2;

        &.active {
          a::before {
            content: '';
            display: inline-block;
            width: 50%;
            height: 1px;
            background: currentColor;
            position: absolute;
            left: 25%;
            top: 45%;
          }
        }
      }

      > div {
        max-width: 800px;
        width: $width-left;
        margin: 0 auto;

        .nav-ul {
          display: flex;
          justify-content: center;
          align-items: center;
          list-style: none;
          padding: 0;
          margin-bottom: 0;

          li {
            width: 15%;

            .logo {
              display: inline;
              width: 31px;
              height: 40px;
            }
          }
        }

      }

      .lang-ul {
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
        list-style: none;
        width: 100%;
        margin-bottom: 0;

        li {
          width: 5%;
          text-align: left;

          &.active {
            a::before {
              content: '';
              display: inline-block;
              width: 52%;
              height: 1px;
              background: currentColor;
              position: absolute;
              left: -5%;
              top: 40%;
            }
          }
        }
      }
    }
  }

}